{% extends 'valuation_app/base/base.html' %}

{% load static %}

{% block title %} Cyclical Ownership Calculator {% endblock %}
{% block site_css %} <link rel="stylesheet" href="{% static 'valuation_app/styles/index.css' %}"> {% endblock %}
    
{% block main_heading %}
    Deconvoluting groups with cyclical cross-holdings
{% endblock %}

{% block body %}

    <!-- dummy section to figure out incorporating model! PLEASE IGNORE FOR NOW -->
    <!-- {% for company in company_model %}
        {{company.name}}
        {{company.shares_outstanding }}
        {{company.share_price}}
        {{company.currency}}
    {% endfor %} -->
    <!-- dummy section to figure out incorporating model! PLEASE IGNORE FOR NOW -->

    <section>
        <ul>
            {% for group in cyclical_groups %}
                <li class="cylcical-group-item">
                    <article>
                        <div class="meetup-summary">
                            <div class="meetup-details">
                                <h3>{{ group.company_1.name }} & {{ group.company_2.name}} group</h3>
                                <ul class="horizontal-list">
                                    {% for company in group.companies %}
                                        {% include 'valuation_app/includes/company-item.html' with company=company.outputs title=company.outputs.name shares_outstanding=company.shares_outstanding value=company.outputs.value%}
                                    {% endfor %}
                                </ul>
                                <h3>Distribution of group assets:</h4>
                                <ul class="horizontal-list">
                                    {% for company in group.companies %}
                                        {% include 'valuation_app/includes/circular-ownership-item.html' with company=company.outputs title=company.outputs.name shares_outstanding=company.shares_outstanding value=company.outputs.value%}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <ul>
            {% for company in main_companies %}
                {% include 'valuation_app/includes/company-item.html' with title=company.name shares_outstanding=company.shares_outstanding%}
            {% endfor %}
        </ul>
    </section>
{% endblock%}